# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Build
dist/
build/
*.tsbuildinfo

# Logs
*.log

# IDE/editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
.vercel
.env*
